<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <!-- <h2>About</h2> -->
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          Every day, we face both big and small challenges. Every day, life provides us with a whole spectrum of
          experiences and emotions. Sometimes we manage to deal with them, moving on, but at other times we succumb to
          them - caught in a spiral of feelings and thoughts, we make mistakes that hurt ourselves or others.
          <br><br>
          There are things over which we have no control or very little control... What our body does, what other people
          think, what the weather will be like tomorrow...
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          But there is one thing over which we can have complete
          control. That is our own mind. No matter what happens, we can <i>control</i> how we react.
        </p>
        <h6>“You have power over your mind — not outside events. Realize this, and you will find strength.”
          <br>—<i>Marcus Aurelius</i>
        </h6>
        <p>
        It is a journey that requires perseverance and determination, but it is a journey that makes life fulfilling. We
        will help you choose the right tools and techniques for yourself. Build your framework for self-improvement,
        finding balance, peace, and joy in your own life.
        </p>
      </div>
    </div>
  </div>
</section>